<div class="header container">
        <div class="row">
            <div class="header__1">header</div>
        </div>
        <div class="row">
            <div class="header__2__1">header</div>
            <div class="header__2__2">header</div>
        </div>
        <div class="row">
            <div class="header__3">header</div>
        </div>
</div>
</div>



<div class="main container">
        <div class="row">
            <div class="main__row">main</div>
        </div>
        <div class="row">
            <div class="main__row">main</div>
        </div>
        <div class="row">
            <div class="main__row">main</div>
        </div>
</div>

<div class="footer container">
        <div class="row">
            <div class="footer__row">footer</div>
        </div>
        <div class="row">
            <div class="footer__row">footer</div>
        </div>
        <div class="row">
            <div class="footer__row">footer</div>
        </div>
</div>

</div>