






<div class="header container">
    <div class="row">
        <div class="header__email">
            <h6 class="text-uppercase ">Email Us</h6>
            <span>info@example.com</span>
        </div>
        <div class="header__logo">
            <h6>logo</h6>
        </div>
        <div class="header__call">
            <h6 class="text-uppercase ">call Us</h6>
            <span>8-800-555-35-35</span>
        </div>

    </div>
    <div class="header__nav">
        <div class="header__nav__home"><a href="/">home</a></div>
        <div class="header__nav__about"><a href="/">about</a></div>
        <div class="header__nav__contact"><a href="/">contact</a></div>
    </div>
    <div class="header__navbar">
    <div class="row">
        <button id="navbar" class="header__navbar__navbarButton">меню</button>
        </div>
        <div class="header__navbar__barRow" id = "barRow">
        <div class="header__navbar__barel"><a href="/">home</a></div>
        <div class="header__navbar__barel"><a href="/">about</a></div>
        <div class="header__navbar__barel"><a href="/">contact</a></div>
        </div>
    </div>
    <button id="bt" class="header__but">Отправить заявку</button>

</div>
</div>



<div class="main container">

    <div class="row">
        <div class="main__row">main</div>
    </div>
    <div class="row">
        <div class="main__row">main</div>
    </div>
</div>

<div class="container footer">
    <div class="row">
        <div class="footer__links">
            <h5>QUICK LINKS</h5>
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">about</a></li>
                <li><a href="">contact</a></li>
            </ul>
        </div>

        <div class="footer__contact">
            <h5>GET IN TOUCH</h5>
            <h6 class="text-uppercase ">Email Us</h6>
            <span>info@example.com</span>
            <h6 class="text-uppercase ">call Us</h6>
            <span>8-800-555-35-35</span>
        </div>
    </div>
    <div class="row">
        <div class="footer__text">
            <p>Вся представленная информация на этом сайте, включая фотографии выполненных работ является собственностью
                компании "СтенФор
                - механизированная отделка"</p>
        </div>
    </div>
</div>

</div>

</div>




<div id="win" class="win">
    <form action="/" method="get">
        <button class="win__close">x</button>
        <div class="win__text">
            <p>ЗАПОЛНИТЕ ФОРМУ И МЫ ВАМ ПЕРЕЗВОНИМ</p>
        </div>
        <input type="text" value="+375" name="number" class="win__form">
        <input id="txt" type="text" value="ФИО" name="text" class="win__form"></textarea>
        <script src="../src/js/scripts.js"></script>
        <button class="win__send">
            <p>Отправить заявку</p>
        </button>
    </form>
</div>



<script src="../src/js/scripts.js"></script>