*,
*::before,
*::after {
  box-sizing: border-box;
}
@import 'grid/init';

html,body{
    margin: 0;
    font-size: 22px;
    background-color:antiquewhite;
}






.container{ 
  //border:solid 1px;
  margin: 0%;
  @include container;
  max-width: 1400px;
  
}

.row{
  margin-top: 15px;
  @include row;
  padding-bottom: 15px;
}



h6{
  text-align: center;
  margin: 0%;
  margin-top: 15px;
}
h5{
  color: rgb(224, 143, 22);
  margin: 0%;
  margin-bottom: 15px;
}


span{
  box-sizing: border-box;
  margin-right: 1rem !important;
}
.text-uppercase {
  margin-top: 0%;
  margin-bottom: 0%;
  text-transform: uppercase !important;
}
a{
  color: #ece4e4;
  text-decoration: none;
}
.nav{
  background-color: #252424;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 250px;
  padding-left: 250px;
}





.header{
  background-color: antiquewhite;
  font-size: 250%;
  text-align: center;
  @include bp(lg){
    font-size: 100%;
  }
  &__email{
      text-align: center;
      @include col(4);
      @include bp(lg){
        font-size: 80%;
      }
  }
  &__logo{
    background-color: rgb(224, 143, 22);
    padding-bottom: 15px;
    @include col(4);
  }
  &__call{
    @include bp(lg){
      font-size: 80%;
    }
    text-align: center;
    @include col(4);
  }


  &__nav{
    display: none;
    background-color: #252424;
    @include bp(md){
      @include row;
    }
    &__home{
      @include col(4);
    }
    &__about{
      @include col(4);
    }
    &__contact{
      @include col(4);
    }
  }

  
  &__navbar{
    
    @include bp(md){
      display: none;
    }
    @include container;
    &__navbarButton{
      color: #ece4e4;
      font-size: 60%;
      height: 50px;
      @include col(12);
       background-color:#252424;
    }
    &__barRow{
      display: none;
    }

    &__barel{
      margin-left: 17px;
      background-color:#252424;
      color: #ece4e4;
      margin-top: 15px;
      @include col(12);
    }
  }
  

  &__but{
    cursor: pointer;
    background-color: rgb(224, 143, 22);
    margin-top: 15px;
    width: 125px;
    height: 70px;
    margin-bottom: 15px;
  }
}






.main{
  text-align: center;
  font-size: 200%;
  background-color: antiquewhite;
  @include bp(lg){
    font-size: 150%;
  }
  &__row{
    margin-top: 15px;
    background-color: rgb(106, 111, 126);
    @include col(12);
  }        
}






.footer{
  color: #ece4e4;
  text-align: center;
  font-size: 200%;
  background-color: #252424;
  @include bp(lg){
    font-size: 150%;
  }
  &__contact{
    margin-top: 15px;  
    @include col(6);
  }
  &__links{
    margin-top: 15px;
    @include col(6);
  }
  &__text{
    text-align: center;
    color: #ece4e4;
    margin-top: -15px;
    background-color: black;
    @include col(12);
  }
}



.win {
  @include container;
  width: 800px;
  height: 330px;
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  background-color: #272524;
  opacity: .9;
  transform: translate(-50%, -50%);
  &__text{
    margin-top: 15px;
    text-align: center;
    color: #ece4e4;
    @include col(12);
  }
  &__form{
    cursor: pointer;
    margin-top: 25px;
    text-align: center;
    color: #ece4e4;
    @include col(12);
    background-color: grey;
    height:50px;
  }
  &__close{
    background-color: #2e2b26;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-top: -10px;
    margin-left: 760px;
  }
  &__send{
    margin-top: 20px;
    width: 150px;
    height: 50px;
    background-color:grey;
    border: 2px solid;
    border-color: red;
    margin-left: 305px;
  }
}